[Unit]
Description=Transit Display
After=network.target

[Service]
Type=simple
ExecStart=python3 main.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
